<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title><!--title--></title>
    <meta name="description" content="<!--description-->">
    <meta name="keywords" content="<!--keywords-->">
    <link rel="stylesheet" href="/app/view/default/css/style.css"/>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div class="content">
            <div class="logo">
                <!--user-->
            </div>
            <ul id="nav">
                <li><a href="/">Главная</a></li>
                <li><a href="/auth/login">Авторизация</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="content">
            <!--message-->
            <!--content-->
            <p>
                <!--widgetForAdmin-->
            </p>
            <p>
                <!--widget-->
            </p>
        </div>
    </div>
</div>
<div id="footer">
<!--footer-->
</div>
</body>
</html>